$text-c = center
$text-l = left
$text-r = right
$font-size = 48px

.hello {
  text-align $text-c;
  margin: 20px;
  font-size $font-size;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.hello button {
    margin-left: 25px;
    margin-right: 25px;
    font-size: 40px;
    min-width: 50px;
}